body {
    font-family: "Jura", sans-serif;
    background: black;
    color: green;
}

#loginDiv {
    text-align: center;
}

#loginForm {
    background: red;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#loginForm input {
    width: 80%;
    margin: 5px;
}

#loginForm p {
    font-weight: 800;
    color: white;
}

#loginForm input[type="radio"] {
    display: inline;
    width: 20px;
}

#loginForm input[type="submit"] {
    width: 100px;
}

.error {
    color: red;
    font-size: 14px;
}
